* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #333;
}

/* NAVBAR */
.navbar {
    background: white;
    padding: 18px 0;
    box-shadow: 0 3px 8px rgba(0,0,0,0.08);
}

.nav-container {
    width: 92%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand {
    font-size: 22px;
    font-weight: 600;
    color: #007bff;
    margin-left:-75px;
}

nav a {
    margin-left: 22px;
    text-decoration: none;
    font-size: 14px;
    color: #333;
}

.admin {
    border: 1.5px solid #007bff;
    padding: 6px 14px;
    border-radius: 5px;
    color: #007bff;
}


.hero {
    height: calc(100vh - 80px);
    background: url("/static/images/medical-bg.jpg") no-repeat center right;
    background-size: cover;
    display: flex;
    align-items: center;
}

.hero-content {
    width: 45%;
    margin-left: 8%;
}

.hero-content h1 {
    font-size: 42px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 20px;
    color: #1a73e8;
}

.hero-content p {
    font-size: 14px;
    line-height: 1.7;
    color: #555;
    margin-bottom: 25px;
}


.buttons .btn {
    text-decoration: none;
    margin-right: 12px;
    font-size: 14px;
}

.primary {
    background: #1a73e8;
    color: white;
    padding: 12px 22px;
    border-radius: 5px;
}

.outline {
    border: 1.5px solid #1a73e8;
    color: #1a73e8;
    padding: 11px 22px;
    border-radius: 5px;
}

.about-section {
    padding: 80px 0;
    background: #f8f9fa;
}

.about-container {
    width: 70%;
    max-width: 900px;
    margin: auto;
    background: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.about-container h1 {
    color: #1a73e8;
    margin-bottom: 20px;
}

.about-container p {
    font-size: 14px;
    line-height: 1.8;
    color: #555;
    margin-bottom: 15px;
}